{% extends 'cms/layout.html' %}
{% load static %}

{% block title %}
	CMS | Баннеры
{% endblock %}


{% block content %}

<style>
  .hidden {
    display: none;
  }
  .no-margin {
    margin: 0px 0px 0px 0px;
  }
</style>

<!-- Top Banner Form card -->
<div class="row mb-4 no-margin">
	<div class="card">
		<h5 class="card-header text-center">На главной верх</h5>
		<div class="card-body">
			<div class="row">
				<div class="col">
					Размер: 1000x190
				</div>
				<div class="col-auto">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="top-banner-switch" checked>
						<label class="form-check-label" for="top-banner-switch"></label>
					</div>
				</div>
			</div>

			<!-- top banner formset -->
			<div class="row" style="margin-top: 15px;">
				<form id="topBannerForm" enctype="multipart/form-data" method="post" action="{% url 'banners' %}">
					{% csrf_token %}
					{{ top_banner_formset.management_form }}
					<div id="top-banner-formset" class="row">
					{% for banner in top_banners %}
						<div class="col-sm-4 align-self-end">
							<p>
								<img src="{{ banner.image.url }}" width="280"/>
							</p>
							<p>
								URL: <a href="{{ banner.url }}" target="_blank">{{ banner.url }}</a>
							</p>
							<p>
								Текст: {{ banner.text }}
							</p>
						</div>
					{% endfor %}
						<div id="top-banner-empty-form" class="hidden">
							<p align="center">
								<img id="id_top_banner-__prefix__-uploaded-image" src="#" class="hidden" alt="your image" width="280"/>
							</p>
							{{ top_banner_formset.empty_form.as_p }}
						</div>
					</div>
					<div class="text-center">
						<p>
							<input id="add-top-banner-form" type="button" value="Добавить запись">
						</p>
					</div>
					<div class="text-center">
						<p>
							<input id="submit-top-banner-form" type="submit" value="Сохранить">
						</p>
					</div>
				</form>
			</div>

			<div class="row">
				<div class="col">
					Скорость вращения
					<select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 80px; display: inline-block; margin-left: 5px;">
						<option value="1">1 сек</option>
						<option value="2">2 cек</option>
						<option value="3">3 cек</option>
						<option value="4">4 cек</option>
						<option value="5" selected>5 cек</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Background Banner Form card -->
<div class="row mb-4 no-margin">
	<div class="card">
		<h5 class="card-header text-center">Сквозной баннер на заднем фоне</h5>
		<div class="card-body">
			<div class="row">
				<div class="col">
					Размер: 2000x3000
				</div>
			</div>

			<form class="row align-items-center"  style="margin-top: 15px;" id="backgroundBannerForm" enctype="multipart/form-data" method="post" action="{% url 'banners' %}">
				{% csrf_token %}
				<div class="col-sm-2 form-check">
					<p>
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="banner-background" checked>
						<label class="form-check-label" for="banner-background">Фото на фон</label>
					</p>
					<p>
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="color-background">
						<label class="form-check-label" for="color-background">Простой фон</label>
					</p>
				</div>
				<div class="col-sm-auto text-center">
					{% if bg_banner.image %}
					<p>
						<img id="bg-banner-image" src="{{ bg_banner.image.url }}" width="130" alt="Background banner"/>
					</p>
					{% else %}
					<p>
					{{ background_banner_form }}
					</p>
					{% endif %}
				</div>
				<div class="col-sm-auto text-center">
					<p>
						<img id="background-banner-uploaded-image" src="#" class="hidden" alt="your image" width="130"/>
					</p>
				</div>
				<div class="col-sm-auto text-center">
					<p>
						<input id="submit-background-banner-form" type="submit" value="Сохранить" style="width: 100px;">
					</p>
				</div>
				<div class="col-sm-auto text-center">
					<p>
						<input id="delete-background-banner-form" type="submit" value="Удалить" style="width: 100px;">
					</p>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- News Banner Form card -->
<div class="row no-margin">
	<div class="card">
		<h5 class="card-header text-center">На главной Новости и Акции</h5>
		<div class="card-body">
			<div class="row">
				<div class="col">
					Размер: 1000x190
				</div>
				<div class="col-auto">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="news-banner-switch" checked>
						<label class="form-check-label" for="news-banner-switch"></label>
					</div>
				</div>
			</div>

			<!-- news banner formset -->
			<div class="row" style="margin-top: 10px;">
				<form id="newsBannerForm" enctype="multipart/form-data" method="post" action="{% url 'banners' %}">
					{% csrf_token %}
					{{ news_banner_formset.management_form }}
					<div id="news-banner-formset" class="row">
						{% for form in news_banner_formset %}
						<div class="col-sm-4 news-banner-form">
							{{ form.as_p }}
						</div>
						{% endfor %}
						<div id="news-banner-empty-form" class="hidden">
							<div class="text-center">
								<p>
									<img id="id_news_banner-__prefix__-uploaded-image" src="#" class="hidden" alt="your image" width="280"/>
								</p>
							</div>
							{{ news_banner_formset.empty_form.as_p }}
						</div>
					</div>
					<div class="text-center">
						<p>
							<input id="add-news-banner-form" type="button" value="Добавить запись">
						</p>
					</div>
					<div class="text-center">
						<p>
							<input id="submit-news-banner-form" type="submit" value="Сохранить">
						</p>
					</div>
				</form>
			</div>

			<div class="row">
				<div class="col">
					Скорость вращения
					<select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 80px; display: inline-block; margin-left: 5px;">
						<option value="1">1 сек</option>
						<option value="2">2 cек</option>
						<option value="3">3 cек</option>
						<option value="4">4 cек</option>
						<option value="5" selected>5 cек</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- block 'submit' button if we have a background banner instance (you must delete it first) -->
<script>
	let bgBannerImage = document.getElementById('bg-banner-image');

		if (bgBannerImage) {
			document.getElementById('submit-background-banner-form').disabled = true;
		};
</script>

<script src="{% static 'cms/js/cms.banners.js' %}"></script>

{% endblock %}