{% extends 'cms/layout.html' %}

{% block title %}
	CMS | Фильмы
{% endblock %}

{% block content %}
<div id="add-film-button" class="row mb-3 justify-content-center">
	<a href="{% url 'film_add' %}" class="btn btn-outline-primary" style="width: 180px;">
		<i class="bi bi-plus-lg"></i>
		Добавить фильм
	</a>
</div>

<div id="active-films" class="row mb-3">
	<div class="row justify-content-center mb-1">
		<div class="col-sm-auto text-center">
			<h3>Список текущих фильмов</h3>
		</div>
	</div>
	<div class="row align-items-center justify-content-start">
		{% for film in films %}
		{% if film.is_active %}
		<div class="col-sm-4 justify-content-center text-center">
			{% if film.main_image %}
			<div style="margin-bottom: 10px;">
				<img src="{{ film.main_image.url }}" alt="Film picture" width="225" height="300">
			</div>
			{% endif %}
			<h5>{{ film.name }}</h5>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

<div id="not-active-films" class="row">
	<div class="row justify-content-center mb-1">
		<div class="col-sm-auto text-center">
			<h3>Список фильмов, которые покажут скоро</h3>
		</div>
	</div>
	<div class="row align-items-center justify-content-start">
		{% for film in films %}
		{% if not film.is_active %}
		<div class="col-sm-4 justify-content-center text-center">
			{% if film.main_image %}
			<div style="margin-bottom: 10px;">
				<img src="{{ film.main_image.url }}" alt="Film picture" width="225" height="300">
			</div>
			{% endif %}
			<h5>{{ film.name }}</h5>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}